[Unit]
Description=pure python3 channel bot

[Service]
ExecStart=/usr/local/bin/obot -m irc -d /var/lib/obot --logdir /var/log/obot -l debug

[Install]
WantedBy=multi-user.target
